/* contenedor de noticias */
.contenedor-noticias {
    width: 100%;
}

/* artículos a la izquierda */
.articulos {
    width: 65%;
    float: left;
}

/* sección de anuncios a la derecha */
.anuncios-seccion {
    width: 30%;
    float: right;
    background-color: #f0f0f0;
    padding: 15px;
    border: 1px solid #cccccc;

}
/* cada artículo */
.articulo {
    background-color: #f9f9f9;
    border-left: 5px solid #14285f;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 0 10px 10px 0;
}

.articulo h3 {
    color: #14285f;
    margin-bottom: 5px;
}
/* anuncios dentro de la sección de noticias */
.anuncio-noticia {
    background-color: white;
    border: 2px dashed #14285f;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
}

/* botón volver */


.boton-volver:hover {
    background-color: #a6b6da;
}